body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Cập nhật kích thước và độ đậm của tiêu đề */
.card-header .title {
    font-size: 50px;
    font-weight: bold;
}

.card-header {
    padding: 15px;
}

#totalAmount {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}

.card-body h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #495057;
}

/* Màu chữ đỏ cho Transaction Amount */
.card-body .transaction-amount {
    color: red;
    font-weight: bold;
}

.card-body p {
    color: #6c757d;
    margin-bottom: 0.5rem;
}

.card {
    border-radius: 8px;
}

@media (max-width: 768px) {
    .card-body h5 {
        font-size: 1rem;
    }
}
