<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Du án - givenow </title>
</head>
<body>
    <header class="header">
        <div class="container d-flex">
            <div class="left-header d-flex a-center">
                <div>
                    <a href="/"><img src="images/logo.png" alt="" class="img-logo"></a>
                </div>
                <div class="product">
                    <a href="/">Trang chủ</a>
                    <a href="#">Về chúng tôi</a>
                    <a href="#">Hướng dẫn</a>
                    <button >Ủng hộ ngay</button>
                </div>
            </div>
            <div class="right-header d-flex a-center">
                <div class="search">
                    <input type="text" placeholder="Tìm kiếm">
                </div>
                <div class="login-out">
                    <button>Register</button>
                    <button>Login</button>
                </div>
            </div>
        </div>
    </header>
    <div class="banner-du-an d-flex a-center j-center">
        <h1>Dự án</h1>
        <div class="foot-banner d-flex">
            <a href="/">Trang chủ </a>
            <p>/  Dự án</p>
        </div>
    </div>
    <div class="body-main d-flex j-center a-center">
        <div class="container-main">
            <div class="slider-container j-center a-center">
                <!-- <div class="slide"><img src="images/img1.jpeg" alt="1"></div>
                <div class="slide"><img src="images/img1-2.jpeg" alt="2"></div>
                <div class="slide"><img src="images/img1-3.jpeg" alt="3"></div>
                <div class="slide"><img src="images/img1-4.jpeg" alt="4"></div> -->
                <img src="images/img1.jpeg" alt="" class="slide">
            </div>
            <div class="trinh-bay">
                <h2>Giúp bé H’Thy Ân nuôi ước mơ trở thành bác sỹ</h2>
                <div class="quy-tien">
                    <div class="ntt">
                        <div class="d-flex"> 
                            <img src="images/daklak5.jpg" alt="">
                            <a href="/" class="a-center j-center">Quỹ Từ tâm Đắk Lắk</a>
                        </div>
                        <div class="d-flex a-center j-center">38 lượt ủng hộ</div>
                    </div>
                    <div class="muc-tieu d-flex">
                        <p>Mục tiêu dự án</p>
                        <p>20.000.000đ</p>
                    </div>
                    <div class="progress-container">
                        <div class="progress-bar" style="width: 10%;"></div>
                    </div>
                    <div class="thanh-tich d-flex">
                        <p>Đã đạt được</p>
                        <p style="color: red; font-size: 20px; font-weight: bold;">1.155.000đ</p>
                    </div>
                </div>
                <div class="ung-ho d-flex a-center"> 
                    <p>VNĐ</p>
                    <input type="text">
                    <button>Ủng hộ ngay</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>